body {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}

.main-container {
    height: 95vh;
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 20px;
    box-sizing: border-box;
    
}

.second-container {
    margin-top: 10px;
    width: 90%;
    padding: 30px 10px;
    background-color: rgba(0 ,0 , 0, 0.7);
    max-width: 400px;
}
    

.weather-container{
    background-color: rgba(0, 0, 0, 0.5);
    border-top: none;
    position: absolute;
    top: auto;
    left: 0;
    width: 90%;
    max-height: 0;
    transition: max-height 0.5s ease-out, padding 0.5s ease-out;
    padding: 0 10px;
    
}
    
    
.weather-container.open {
    
    height: auto;
    padding-top: 110px;
    padding-bottom: 120px;
    position: static;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    

    
}

#button {
    background-color: chartreuse;
    border-radius: 4px;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
}
#button:hover {
    background-color: darkgreen;
}

.cityname {
        border: 1px solid white;
        background-color: cadetblue;
        color: white;
        padding: 10px;
        border-radius: 5px;
}
.temp {
    border: 1px solid white;
        background-color: black;
        color: white;
        padding: 5px;
        border-radius: 0px 5px 5px 0px;
}

.desc {
        border: 1px solid white;
        background-color: red;
        color: white;
        padding: 3px;
        border-radius: 3px;
   
}

@media (max-width: 768px) {
    .main-container {
        padding: 10px;
        width: 100%;
    }
    .second-container {
        flex-direction: column;
        align-items: center;
    }
    input#city {
        width: 80%;
        margin-bottom: 10px;
    }
    button#button {
        width: 80%;
    }
    h1 {
        font-size: 1.5rem;
    }
    h2, h3 {
        font-size: 1rem;
    }
}

@media (max-width: 360px) {
    .main-container {
        padding: 5px;
    }
    .second-container {
        width: 90%;
    }
    .weather-container {
    width: 90%;
    }
    
    
    input#city {
        width: 90%;
        font-size: 0.9rem;
    }
    button#button {
        width: 90%;
        font-size: 0.9rem;
    }
    h1 {
        font-size: 1.2rem;
    }
    h2, h3 {
        font-size: 0.8rem;
    }
}